Source: cadaver
Section: web
Priority: optional
Maintainer: Bernd Eckenfels <ecki@debian.org>
Build-Depends: debhelper (>= 5), libncurses5-dev, libxml2-dev | libxml-dev, 
 libreadline5-dev, zlib1g-dev (>= 1:1.1.3), libneon25-dev
Standards-Version: 3.7.2

Package: cadaver
Architecture: any
Depends: ${shlibs:Depends}
Description: command-line client for WebDAV server
 Useful for WebDAV server testing and scripting. Works like command line FTP
 clients.
 .
 Due to licensing issues (conflict between GPL and OpenSSL) this package
 does not provide SSL (HTTPS) support, for now. GNU TLS Porters welcome.
 .
 Briefly: WebDAV stands for "Web-based Distributed Authoring and Versioning".
 It is a set of extensions to the HTTP protocol which allows users to
 collaboratively edit and manage files on remote web servers. 
